<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:gtfwrendermodule module="comp.breadcrump" submodule="breadcrump" action="view" name="breadcrump" / -->
<table class="table-details">
<tbody>
    
    <tr>
        <th style="width:200px">Personal Id</th>
        <td>{PERSONAL_ID}</td>
    </tr>
    <tr>
        <th style="width:200px">Jenis Kelamin</th>
        <td>{JENIS_KELAMIN}</td>
    </tr>
    <tr>
        <th style="width:200px">Agama</th>
        <td>{AGAMA}</td>
    </tr>
    <tr>
        <th style="width:200px">Tahun Masuk</th>
        <td>{TAHUN_MASUK}</td>
    </tr>
    <tr>
        <th style="width:200px">Kode Pos</th>
        <td>{KODE_POS}</td>
    </tr>
    <tr>
        <th style="width:200px">Tempat Lahir</th>
        <td>{TEMPAT_LAHIR}</td>
    </tr>
    <tr>
        <th style="width:200px">Alamat</th>
        <td>{ALAMAT}</td>
    </tr>
    <tr>
        <th style="width:200px">No Hp</th>
        <td>{NO_HP}</td>
    </tr>
    <tr>
        <th style="width:200px">Real Name</th>
        <td>{REAL_NAME}</td>
    </tr>
    <tr>
        <th style="width:200px">Name</th>
        <td>{NAME}</td>
    </tr>
    <tr>
        <th style="width:200px">Email</th>
        <td>{EMAIL}</td>
    </tr>
    <tr>
        <th style="width:200px">Password</th>
        <td>{PASSWORD}</td>
    </tr>
    <tr>
        <th style="width:200px">Desc</th>
        <td>{DESC}</td>
    </tr>
    <tr>
        <th style="width:200px">No Password</th>
        <td>{NO_PASSWORD}</td>
    </tr>
    <tr>
        <th style="width:200px">Active</th>
        <td>{ACTIVE}</td>
    </tr>
    <tr>
        <th style="width:200px">Force Logout</th>
        <td>{FORCE_LOGOUT}</td>
    </tr>
    <tr>
        <th style="width:200px">Active Lang Code</th>
        <td>{ACTIVE_LANG_CODE}</td>
    </tr>
    <tr>
        <th style="width:200px">Last Logged In</th>
        <td>{LAST_LOGGED_IN}</td>
    </tr>
    <tr>
        <th style="width:200px">Last Ip</th>
        <td>{LAST_IP}</td>
    </tr>
    <tr>
        <th style="width:200px">Id Photo</th>
        <td>{ID_PHOTO}</td>
    </tr>
</tbody>
</table>
<!-- /patTemplate:tmpl -->