<!-- patTemplate:tmpl name="content" -->
<table class="table-details">
<tbody>
    
    <tr>
        <th style="width:200px">Meeting</th>
        <td>{MEETING}</td>
    </tr>
    <tr>
        <th style="width:200px">Kmsmeeting Userid</th>
        <td>{KMSMEETING_USERID}</td>
    </tr>
    <tr>
        <th style="width:200px">Topik</th>
        <td>{TOPIK}</td>
    </tr>
    <tr>
        <th style="width:200px">Pembicara</th>
        <td>{PEMBICARA}</td>
    </tr>
    <tr>
        <th style="width:200px">Agenda</th>
        <td>{AGENDA}</td>
    </tr>
    <tr>
        <th style="width:200px">Jum Peserta</th>
        <td>{JUM_PESERTA}</td>
    </tr>
    <tr>
        <th style="width:200px">Waktu</th>
        <td>{WAKTU}</td>
    </tr>
    <tr>
        <th style="width:200px">Tanggal</th>
        <td>{TANGGAL}</td>
    </tr>
    <tr>
        <th style="width:200px">Status Agenda</th>
        <td>{STATUS_AGENDA}</td>
    </tr>
    <tr>
        <th style="width:200px">Filedata Enc</th>
        <td>{FILEDATA_ENC}</td>
    </tr>
    <tr>
        <th style="width:200px">Filedata Origin</th>
        <td>{FILEDATA_ORIGIN}</td>
    </tr>
    <tr>
        <th style="width:200px">Filedata Txt</th>
        <td>{FILEDATA_TXT}</td>
    </tr>
    <tr>
        <th style="width:200px">Filedata Path</th>
        <td>{FILEDATA_PATH}</td>
    </tr>
    <tr>
        <th style="width:200px">Filedata Type</th>
        <td>{FILEDATA_TYPE}</td>
    </tr>
    <tr>
        <th style="width:200px">Filedata Size</th>
        <td>{FILEDATA_SIZE}</td>
    </tr>
</tbody>
</table>
<!-- /patTemplate:tmpl -->