<!-- patTemplate:tmpl name="content" -->
<table class="table-details">
<tbody>
    
    <tr>
        <th style="width:200px">Problem</th>
        <td>{PROBLEM}</td>
    </tr>
    <tr>
        <th style="width:200px">User id</th>
        <td>{USER_PROBLEM}</td>
    </tr>
    <tr>
        <th style="width:200px">Problemm</th>
        <td>{PROBLEMM}</td>
    </tr>
    <tr>
        <th style="width:200px">Person Request</th>
        <td>{PERSON_REQUEST}</td>
    </tr>
    <tr>
        <th style="width:200px">Person Solving</th>
        <td>{PERSON_SOLVING}</td>
    </tr>
    <tr>
        <th style="width:200px">PIC</th>
        <td>{PIC}</td>
    </tr>
    <tr>
        <th style="width:200px">Status</th>
        <td>{STATUS}</td>
    </tr>
    <tr>
        <th style="width:200px">Note</th>
        <td>{CATATAN}</td>
    </tr>

    
</tbody>
</table>
<!-- /patTemplate:tmpl -->