<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:gtfwrendermodule module="comp.breadcrump" submodule="breadcrump" action="view" name="breadcrump" / -->
<!-- patTemplate:tmpl name="message" type="simplecondition" requiredvars="CONTENT" -->
<div class="{STYLE}"><a class="close" data-dismiss="alert" href="#">&times;</a>{CONTENT}</div>
<!-- /patTemplate:tmpl -->
<form id="form_input" class="xhr dest_subcontent-element" method="post" action="{URL}">
    <div class="content-box-form">
        <input type="hidden" name="id" value="{ID}" />
        <table class="table-edit" style="margin: 0px;">
            <tr class="subhead">
                <th colspan="2">
                    <strong><!-- patTemplate:gtfwgetlang key="email_template_data" / --></strong>
                </th>
            </tr>
            <tr>
                <th style="width:200px;"><!-- patTemplate:gtfwgetlang key="purpose" / --></th>
                <td>
                    <input type="text" name="purpose" value="{PURPOSE}" size="50" title="<!-- patTemplate:gtfwgetlang key="purpose" / -->" tabindex="1" />            
                </td>
            </tr>
            <tr>
                <th style="width:200px;"><!-- patTemplate:gtfwgetlang key="subject" / --></th>
                <td>
                    <input type="text" name="subject" value="{SUBJECT}" size="50" title="<!-- patTemplate:gtfwgetlang key="subject" / -->" tabindex="2" />            
                </td>
            </tr>
            <tr>
                <th style="width:200px;"><!-- patTemplate:gtfwgetlang key="from" / --></th>
                <td>
                    <input type="email" name="from" value="{FROM}" size="50" title="<!-- patTemplate:gtfwgetlang key="from" / -->" tabindex="3" />            
                </td>
            </tr>
            <tr>
                <th style="width:200px;"><!-- patTemplate:gtfwgetlang key="from_name" / --></th>
                <td>
                    <input type="text" name="from_name" value="{FROM_NAME}" size="50" title="<!-- patTemplate:gtfwgetlang key="from_name" / -->" tabindex="4"  />            
                </td>
            </tr>
            <tr>
                <th><!-- patTemplate:gtfwgetlang key="body" / --></th>
                <td>
                    <!-- patTemplate:tmpl name="item_body" -->
                    <img src="assets/images/btn/{CODE}.png"><p></p>
                    <textarea id="body_{CODE}" name="body[{CODE}]" cols="10" rows="2" title="<!-- patTemplate:gtfwgetlang key="body" / -->" tabindex="5">{TEXT}</textarea> <br />
                    <!-- /patTemplate:tmpl -->

                </td>
            </tr>
            <tr>
                <th><!-- patTemplate:gtfwgetlang key="altbody" / --></th>
                <td>
                    <!-- patTemplate:tmpl name="item_body_alt" -->
                    <img src="assets/images/btn/{CODE}.png"><p></p>
                    <textarea id="alt_body_{CODE}" name="alt_body[{CODE}]" cols="10" rows="2" title="<!-- patTemplate:gtfwgetlang key="altbody" / -->" tabindex="6">{ALT_TEXT}</textarea> <br />
                    <!-- /patTemplate:tmpl -->

                </td>
            </tr>
            <tr>
                <th style="width:200px;"><!-- patTemplate:gtfwgetlang key="attachment" / --></th>
                <td>
                    <textarea name="attachment" cols="50" rows="2" title="<!-- patTemplate:gtfwgetlang key="attachment" / -->" tabindex="7">{ATTACHMENT}</textarea>            
                </td>
            </tr>
            <tr>
                <th style="width:200px;"><!-- patTemplate:gtfwgetlang key="param" / --></th>
                <td>
                    <textarea name="param" cols="50" rows="2" title="<!-- patTemplate:gtfwgetlang key="param" / -->" tabindex="8">{PARAM}</textarea>            
                </td>
            </tr>
        </table>
    </div>
    <div class="form-footer" style="padding:14px 230px 15px!important">
        <button type="submit" class="btn btn-primary" title="<!-- patTemplate:gtfwgetlang key="save" / -->" tabindex="9"><!-- patTemplate:gtfwgetlang key="save" / --></button>
        <button type="reset" class="btn" title="<!-- patTemplate:gtfwgetlang key="reset" / -->" tabindex="10"><!-- patTemplate:gtfwgetlang key="reset" / --></button>
        <a href="{URL_BACK}" class="xhr dest_subcontent-element"><button type="button" class="ui-button-success ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" title="<!-- patTemplate:gtfwgetlang key="cancel" / -->" tabindex="11"><span class="ui-button-text"><!-- patTemplate:gtfwgetlang key="cancel" / --></span></button></a>         
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function(){
        <!-- patTemplate:tmpl name="item_body_tiny" -->
        setTinyMce('body_{CODE}');                
        <!-- /patTemplate:tmpl -->                           
        <!-- patTemplate:tmpl name="item_body_alt_tiny" -->
        setTinyMce('alt_body_{CODE}');                
        <!-- /patTemplate:tmpl -->                           
    });
</script>

<!-- /patTemplate:tmpl -->
