<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:tmpl name="message" type="simplecondition" requiredvars="CONTENT" -->
<div class="{STYLE}">{CONTENT}</div>
<!-- /patTemplate:tmpl -->
<form id="form_input" class="xhr dest_subcontent-element" method="post" action="{URL}">
<input type="hidden" name="id" value="{ID}" />
<table class="table-edit">
    
    <tr>
        <th style="width: 200px;"><!-- patTemplate:gtfwgetlang key="nama_dokumentasi" / --></th>
        <td>
            <input type="text" name="nama_dokumentasi" value="{NAMA_DOKUMENTASI}" required="required" />*            
        </td>
    </tr>
    <tr>
        <th style="width: 200px;"><!-- patTemplate:gtfwgetlang key="dekripsi_dokumentasi" / --></th>
        <td>
            <textarea name="dekripsi_dokumentasi" cols="50" rows="2" required="required">{DEKRIPSI_DOKUMENTASI}</textarea>*            
        </td>
    </tr>
    <tr>
        <th></th>
        <td>   
            <button type="submit" class="btn btn-primary"><!-- patTemplate:gtfwgetlang key="save" / --></button>
            <button type="reset" class="btn"><!-- patTemplate:gtfwgetlang key="reset" / --></button>       
        </td>            
    </tr>    
</table>
</form>
<!-- /patTemplate:tmpl -->