<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:gtfwrendermodule module="comp.breadcrump" submodule="breadcrump" action="view" name="breadcrump" / -->
<!-- patTemplate:tmpl name="search" -->

<form  id="form_search" class="xhr dest_subcontent-element dataquest" method="post" action="{URL}">
<table class="table-search" >
<tbody>
    <tr>
        <th style="width:550px;length:100%;" ><!-- patTemplate:gtfwgetlang key="kmsdata_keyword" / --></th>
        <td><input type="text" width=30 size=60 name="kmsdata_keyword" value="{KMSDATA_KEYWORD}" /></td>        
    </tr>
    <tr>
        <th></th>
        <td>
            <button class="btn"><!-- patTemplate:gtfwgetlang key="search"/ --></button>
        
        </td>
    </tr>
</tbody>
</table>
</form>
<!-- /patTemplate:tmpl -->
<!-- patTemplate:tmpl name="message" type="simplecondition" requiredvars="CONTENT" -->
<div class="{STYLE}">{CONTENT}</div>
<!-- /patTemplate:tmpl -->
<div class="content-box">
<div class="pageBar">
    <div class="pageNav">
        <!-- patTemplate:tmpl name="button_add" visibility="" -->
            <a class="popup_modkmsdata btn-add" href="{URL}" title="<!-- patTemplate:gtfwgetlang key="add" / --> <!-- patTemplate:gtfwgetlang key="searching" / -->">add</a>
        <!-- /patTemplate:tmpl -->
    </div>
        <div class="toolbar">
        <!-- patTemplate:gtfwrendermodule module="comp.paging" submodule="paging" action="view" name="paging_top"  / -->
    </div>
</div>


<table class="table-common">
<thead>
    <tr>
        <th style="width: 40px;">No</th>
        <th style="width: 105px;"><!-- patTemplate:gtfwgetlang key="action" / --></th>
        <th style="width: 105px;">judul</th>
        <th >lokasi file</th>
   <th>typedokumentasi</th>
   <th><!-- patTemplate:gtfwgetlang key="upload by" / --></th>
   <th><!-- patTemplate:gtfwgetlang key="tgl upload" / --></th>
   
    </tr>
</thead>
<tbody>
    <!-- patTemplate:tmpl name="data" type="condition" conditionvar="IS_EMPTY" -->
    <!-- patTemplate:sub condition="YES" -->
    <tr>
        <td colspan="4" style="text-align: center !important;">-- <!-- patTemplate:gtfwgetlang key="no_data" / --> --</td>
    </tr>
    <!-- /patTemplate:sub -->
    <!-- patTemplate:sub condition="NO" -->
    <!-- patTemplate:tmpl name="item" -->
    <tr class="{ROW_CLASS}">
        <td style="text-align: center;">{NO}</td>        
        <td class="links">
           
            <a class="popup_modkmsdata btn-detail" href="{URL_DETAIL}" title="<!-- patTemplate:gtfwgetlang key="detail" / --> <!-- patTemplate:gtfwgetlang key="modkmsdata" / -->"></a>
           
            <!-- patTemplate:tmpl name="button_update" visibility="hidden" -->
            <a class="popup_modkmsdata btn-edit" href="{URL}" title="<!-- patTemplate:gtfwgetlang key="edit" / --> <!-- patTemplate:gtfwgetlang key="modkmsdata" / -->"></a>
            <!-- /patTemplate:tmpl -->
            <!-- patTemplate:tmpl name="button_delete" visibility="hidden" -->
            <a class="confirm_delete btn-delete-icon" href="{URL}" title="<!-- patTemplate:gtfwgetlang key="delete" / -->" data-name="{NAME}" ></a>
            <!-- /patTemplate:tmpl -->            
            </ul>
        </td>

        <td>{KMSDATA_KEYWORD}</td>
         
          <td>
           <!--<img width="150px" height="120px" name="button_file" src={FILEPATH}{FILE}>-->
           <a href="{FILEPATH}{FILE}"  target="_blank"  class="" title="">{FILE2}</a>
   
 
<!-- <iframe 
$href="{FILEPATH}{FILE}"
src="http://docs.google.com/viewer?
url=href={FILEPATH}{FILE}
&embedded=true" width="600"
height="780"
style="border: none;"></iframe>          
 -->
        </td>
     <td>{IDMASDOK}</td>
       <td>{UPLOADBY}</td>
     <td>{TIME}</td>
        
    </tr>
    <!-- /patTemplate:tmpl -->
    <!-- /patTemplate:sub -->
    <!-- /patTemplate:tmpl -->
</tbody>
</table>
<div class="pageBar">
    <div class="toolbar">
        <!-- patTemplate:gtfwrendermodule module="comp.paging" submodule="paging" action="view" name="paging_bottom"  / -->
    </div>
</div>
</div>
<script type="text/javascript">
$(function(){
    $('.confirm_delete').on('click', function(event){
        var elm = $(this);
        var href = elm.attr('href')+'&ascomponent=1';
        var name = elm.data('name');
        gtConfirm("<!-- patTemplate:gtfwgetlang key="msg_confirm_delete" / -->" + ' <!-- patTemplate:gtfwgetlang key="modskmsdata" / -->?<br/><strong>'+name+'</strong>',"<!-- patTemplate:gtfwgetlang key="title_confirm_delete" / -->" + ' <!-- patTemplate:gtfwgetlang key="modkmsdata" / -->',function(status){
            if (status) {
                $.post(href, function(data){
                    $.globalEval("result = " + data + ";");
                    if (result['exec']) {
                        $.globalEval(result['exec'] + ";");
                    }
                  }
                );
            } else {
                return false;
            }
        });
        return false;
    })
});


    var popupModKmsdata;
    $('.popup_modkmsdata').click(function(){
        var url = $(this).attr('href')+'&ascomponent=1';
        var title = $(this).attr('title');
    
        popupModKmsdata = showGtPopup(url, title, 640, null, 320, true);
        return false;
    });
                                        
</script>
<!-- /patTemplate:tmpl -->