<!-- patTemplate:tmpl name="content" -->
<div style="margin:10px;overflow:auto-y">
	<img style="height:50px; margin: 0 140px 15px;"src="assets/images/logo-product.png" alt="gtApplication Base" title="gtApplication Base for GTFW 3.6">
	<h4 class="text-center">
		gtApplication Base for GTFW 3.6<br>
		Version : 2.0
	</h4>
	<p>
		<h4 style="border-bottom: 1px dashed #ccc; padding: 0 0 10px;">Legal Notices</h4>
	</p>
	<p>
		Copyright © 2005-2014 PT. Gamatechno Indonesia and its licensors. All Rights Reserved.
	</p>
	<p>
		Gamatechno, the Gamatechno logo, GTFW, or gtApplication Base are either registered trademarks or trademarks of PT. Gamatechno Indonesia in the Indonesia and/or other countries. All other trademarks are the property of their respective owners.
	</p>
	<p>
		ADOdb Database Abstraction Library for PHP (and Python) Copyright © 2000-2008 John Lim. All Rights Reserved.
	</p>
	<p>
		JQuery and JQuery UI Copyright © 2013 JQuery Foundation and other contributors. All Rights Reserved.
	</p>
	<p>
		Twitter Bootstrap Copyright © 2011 Twitter, Inc. All Rights Reserved.
	</p>
	<p>
		TinyMCE Copyright © 2003-2013 Moxiecode Systems AB. All Rights Reserved.
	</p>
	<p>
		PHPExcel Copyright © 2006-2013 Microsoft. All Rights Reserved.
	</p>
	<p>
		PHPMailer Copyright © 1999-2009 Worx International Inc. All Rights Reserved.
	</p>
	<p>
		PHP QR Code Copyright © 2010 by Dominik Dzienia. All Rights Reserved.
	</p>
	<p>
		TCPDF Copyright © 2001-2013 Nicola Asuni - Tecnick.com LTD. All Rights Reserved.
	</p>
	<p>
		Highcharts JS <i>Free - Non Commercial License</i> Copyright © 2011 Highsoft. All Rights Reserved.
	</p>
	<p>
		Google Maps API Copyright © 2012 Google, Inc. All Rights Reserved.
	</p>
	<p>
		Gridster JS Copyright © 2012 Ducksboard. All Rights Reserved.
	</p>
	<p>
		JPicker Copyright © 2006-2013 Digital Magic Productions Inc. All Rights Reserved.
	</p>
	<p>
		Modernizr JS Copyright © 2009—2013 Modernizr. All Rights Reserved.
	</p>
	<p>
		This application was built and designed by using GTFW Web Application Framework Version 3.6. Third Party notices, terms and conditions pertaining to third party software can be found at http://www.gamatechno.com/ and are incorporated by reference herein.
	</p>
	<p>
		<h4 style="border-bottom: 1px dashed #ccc; padding: 0 0 10px;">Credits</h4>
	</p>
	<p>
		<b>Engineering : </b>Zaenal Arifin, Prima Noor Ekanta.
	</p>
	<p>
		<b>Quality Assurance : </b>Zaenal Arifin.
	</p>
	<p>
		<b>Graphic & Experience Design : </b>Agus Riyadi.
	</p>
	<p>
		<b>GTFW Team : </b>Yogatama, Alvonsius Albert Nainupu, Dyan Galih Nugroho Wicaksi, Muhammad Rabiul Akhirin, Apris Kiswandi, Prima Noor Ekanta, Novan Hartadi, Fransiskus paranso, Zaenal Arifin, Yoga Asmara, Agung Puji Mustofa. 
	</p>
</div>
<!-- /patTemplate:tmpl -->