<!-- patTemplate:tmpl name="content" -->
<table class="table-details">
<tbody>
    <tr>
        <th style="width:150px"><!-- patTemplate:gtfwgetlang key="name"/ --></th>
        <td>{NAME}</td>
    </tr>
    <tr>
        <th style="width:150px"><!-- patTemplate:gtfwgetlang key="value"/ --></th>
        <td>{VALUE}</td>
    </tr>
    <tr>
        <th style="width:150px"><!-- patTemplate:gtfwgetlang key="description"/ --></th>
        <td>{DESC}</td>
    </tr>
</tbody>
</table>
<!-- /patTemplate:tmpl -->