<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:gtfwrendermodule module="comp.breadcrump" submodule="breadcrump" action="view" name="breadcrump" / -->
<!-- patTemplate:tmpl name="search1" -->

<!-- /patTemplate:tmpl -->
<!-- patTemplate:tmpl name="message" type="simplecondition" requiredvars="CONTENT" -->
<div class="{STYLE}">{CONTENT}</div>
<!-- /patTemplate:tmpl -->
<div class="content-box">
<div class="pageBar">
    <div class="pageNav">
        <!-- patTemplate:tmpl name="button_add" visibility="hidden" -->
            <a class="popup_searchengine btn-add" href="{URL}" title="<!-- patTemplate:gtfwgetlang key="add" / --> <!-- patTemplate:gtfwgetlang key="searchengine" / -->"></a>
        <!-- /patTemplate:tmpl -->
    </div>
    <div class="toolbar">
        <!-- patTemplate:gtfwrendermodule module="comp.paging" submodule="paging" action="view" name="paging_top"  / -->
    </div>
</div>
<table class="table-search">
<thead>
</thead>
<tbody>
    <!-- patTemplate:tmpl name="data" type="condition" conditionvar="IS_EMPTY" -->
    <!-- patTemplate:sub condition="YES" -->
    <tr>
        <td colspan="12" style="text-align: center !important;">-- <!-- patTemplate:gtfwgetlang key="no_data" / --> --</td>
    </tr>
    <!-- /patTemplate:sub -->
    <!-- patTemplate:sub condition="NO" -->
    <!-- patTemplate:tmpl name="item" -->
    <tr class="{ROW_CLASS}">
        <td style="text-align: center;">{NO}</td>        
        <td class="links">
            <a class="popup_searchengine btn-detail" href="{URL_DETAIL}" title="<!-- patTemplate:gtfwgetlang key="detail" / --> <!-- patTemplate:gtfwgetlang key="searchengine" / -->"></a>
            <!-- patTemplate:tmpl name="button_update" visibility="hidden" -->
            <a class="popup_searchengine btn-edit" href="{URL}" title="<!-- patTemplate:gtfwgetlang key="edit" / --> <!-- patTemplate:gtfwgetlang key="searchengine" / -->"></a>
            <!-- /patTemplate:tmpl -->
            <!-- patTemplate:tmpl name="button_delete" visibility="hidden" -->
            <a class="confirm_delete btn-delete-icon" href="{URL}" title="<!-- patTemplate:gtfwgetlang key="delete" / -->" data-name="{NAME}" ></a>
            <!-- /patTemplate:tmpl -->            
            </ul>
        </td>
        
    </tr>
    <!-- /patTemplate:tmpl -->
    <!-- /patTemplate:sub -->
    <!-- /patTemplate:tmpl -->
</tbody>
</table>
<!-- patTemplate:tmpl name="search" -->

<table class="table-search">
<tbody>
    
        <th style="width:150px;"></th>
        <td><input type="text" placeholder="input your search in here" size="50" name="kmsdata_keyword" value="{KMSDATA_KEYWORD}"class="submit_enter" style="margin: 0px auto; display: block;height:30px;" /></td>        
    <tr>
        <th></th>
        <td>
            <button class="btn"><!-- patTemplate:gtfwgetlang key="search"/ --></button>
        </td>
    </tr>
</tbody>
</table>
    </div>

</form>


<!-- /patTemplate:tmpl -->
<script type="text/javascript">
    function checkEnter(event){
        if (event.keycode == 13){
            alert('enter');
            return false;
        }
    }

    $(document).ready(function() {
        $('.submit_enter').keydown(function(event){
            if (event.keycode == 13) {
                this.form.submit();
                return false;
            }
        })
    })
</script>
    

<div class="pageBar">
    <div class="toolbar">
        <!-- patTemplate:gtfwrendermodule module="comp.paging" submodule="paging" action="view" name="paging_bottom"  / -->
    </div>
</div>
</div>
<script type="text/javascript">
$(function(){
    $('.confirm_delete').on('click', function(event){
        var elm = $(this);
        var href = elm.attr('href')+'&ascomponent=1';
        var name = elm.data('name');
        gtConfirm("<!-- patTemplate:gtfwgetlang key="msg_confirm_delete" / -->" + ' <!-- patTemplate:gtfwgetlang key="searchengine" / -->?<br/><strong>'+name+'</strong>',"<!-- patTemplate:gtfwgetlang key="title_confirm_delete" / -->" + ' <!-- patTemplate:gtfwgetlang key="searchengine" / -->',function(status){
            if (status) {
                $.post(href, function(data){
                    $.globalEval("result = " + data + ";");
                    if (result['exec']) {
                        $.globalEval(result['exec'] + ";");
                    }
                  }
                );
            } else {
                return false;
            }
        });
        return false;
    })
});


    var popupSearchengine;
    $('.popup_searchengine').click(function(){
        var url = $(this).attr('href')+'&ascomponent=1';
        var title = $(this).attr('title');
    
        popupSearchengine = showGtPopup(url, title);
        return false;
    });
                                        
</script>
<!-- /patTemplate:tmpl -->
