<!-- patTemplate:tmpl name="content" -->
<table class="table-details">
<tbody>
    
    <tr>
        <th style="width:200px">Training</th>
        <td>{TRAINING}</td>
    </tr>
    <tr>
        <th style="width:200px">Kmstraining Userid</th>
        <td>{KMSTRAINING_USERID}</td>
    </tr>
    <tr>
        <th style="width:200px">Judul</th>
        <td>{JUDUL}</td>
    </tr>
    <tr>
        <th style="width:200px">Jenis</th>
        <td>{JENIS}</td>
    </tr>
    <tr>
        <th style="width:200px">Pembicara</th>
        <td>{PEMBICARA}</td>
    </tr>
    <tr>
        <th style="width:200px">Lokasi</th>
        <td>{LOKASI}</td>
    </tr>
    <tr>
        <th style="width:200px">Peserta</th>
        <td>{PESERTA}</td>
    </tr>
    <tr>
        <th style="width:200px">Tanggal</th>
        <td>{TANGGAL}</td>
    </tr>
    <tr>
        <th style="width:200px">Filedata Enc</th>
        <td>{FILEDATA_ENC}</td>
    </tr>
    <tr>
        <th style="width:200px">Filedata Origin</th>
        <td>{FILEDATA_ORIGIN}</td>
    </tr>
    <tr>
        <th style="width:200px">Filedata Path</th>
        <td>{FILEDATA_PATH}</td>
    </tr>
    <tr>
        <th style="width:200px">Filedata Type</th>
        <td>{FILEDATA_TYPE}</td>
    </tr>
    <tr>
        <th style="width:200px">Filedata Size</th>
        <td>{FILEDATA_SIZE}</td>
    </tr>
    <tr>
        <th style="width:200px">Time</th>
        <td>{TIME}</td>
    </tr>
</tbody>
</table>
<!-- /patTemplate:tmpl -->