<!-- patTemplate:tmpl name="content" -->
<table class="table-details">
<tbody>
    
    <tr>
        <th style="width:200px">id Problem</th>
        <td>{ID_PROBLEM}</td>
    </tr>
    <tr>
        <th style="width:200px">Problem</th>
        <td>{PROBLEMM}</td>
    </tr>
    <tr>
        <th style="width:200px">Person Request</th>
        <td>{PERSON_REQUEST}</td>
    </tr>
    <tr>
        <th class="id_meeting" style="{STYLE_JENISS}" >Person Solving</th>
        <td  class="id_meeting" style="{STYLE_JENISS_VALUE}">{PERSON_SOLVING}</td>
   
    </tr>
    <tr>
        <th style="width:200px">Person Solving</th>
        <td class="id_pembicara"  style="{STYLE_UPLOAD_VALUE}">belum ada</td>
   
    </tr>

    <tr>
        <th style="width:200px">PIC</th>
        <td>{PIC}</td>
    </tr>
    <tr>
        <th style="width:200px">catatan</th>
        <td>{CATATAN}</td>
    </tr>
    
    <tr>
        <th style="width:200px">Capture Problem</th>
        <td>{CAPTURE_PROBLEM}</td>
    </tr>
</tbody>
</table>
<!-- /patTemplate:tmpl -->