<!-- patTemplate:tmpl name="content" -->
                <div class="language" style="text-transform: capitalize;"><!-- patTemplate:gtfwgetlang key="language" / --> <img src="assets/img/flag/{CURRLANG}.gif" id="lang"/></a>
                    <div id="menuProfile" style="display: none;">
                        <div class="menu-content">
                            <ul class="">
                                <!-- patTemplate:tmpl name="item" -->
                                <li><a href="#"><img src="assets/img/flag/{ID}.gif"	class="{ID}"/> {ID}</a></li>
                                <!-- /patTemplate:tmpl -->
                            </ul>
                        </div>
                        <div class="menu-top"></div></div>
                </div>
<!-- /patTemplate:tmpl -->