<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:tmpl name="breadcrump_nav" -->
<!-- *====BREADCHUMB====* -->

    <ul id="breadcrumb">    
        <li><a class="home xhr dest_subcontent-element" title="Home" href="{URL_HOME}"><i class="icon-home"></i></a> <span class="divider"><img class="divider-breadcrump"  src="assets/images/bredchumb-bg.png"></span></li>
        <!-- patTemplate:tmpl name="breadcrump_nav_item" visibility="visible" -->
        <li><a class="xhr dest_subcontent-element" href="{NAV_URL}" title="{NAV_MENU}">{NAV_MENU}</a> <span class="divider"><img class="divider-breadcrump" src="assets/images/bredchumb-bg.png"></span></li>
        <!-- /patTemplate:tmpl -->
        <li class="active">{NAV_TITLE}</li>
    </ul>


<!-- *====end of BREADCHUMB====* -->
<!-- /patTemplate:tmpl -->
<!-- /patTemplate:tmpl -->
