<!-- patTemplate:tmpl name="content" -->
<table class="table-details">
<tbody>
    
    <tr>
        <th style="width:200px">Data</th>
        <td>{DATA}</td>
    </tr>
    <tr>
        <th style="width:200px">Kmsdata Userid</th>
        <td>{KMSDATA_USERID}</td>
    </tr>
    <tr>
        <th style="width:200px">Kmsdata Masdok Id</th>
        <td>{KMSDATA_MASDOK_ID}</td>
    </tr>
    <tr>
        <th style="width:200px">Kmsdata Keyword</th>
        <td>{KMSDATA_KEYWORD}</td>
    </tr>
    <tr>
        <th style="width:200px">Filedata Enc</th>
        <td>{FILEDATA_ENC}</td>
    </tr>
    <tr>
        <th style="width:200px">Filedata Origin</th>
        <td>{FILEDATA_ORIGIN}</td>
    </tr>
    <tr>
        <th style="width:200px">Filedata Txt</th>
        <td>{FILEDATA_TXT}</td>
    </tr>
    <tr>
        <th style="width:200px">Filedata Path</th>
        <td>{FILEDATA_PATH}</td>
    </tr>
    <tr>
        <th style="width:200px">Filedata Type</th>
        <td>{FILEDATA_TYPE}</td>
    </tr>
    <tr>
        <th style="width:200px">Filedata Size</th>
        <td>{FILEDATA_SIZE}</td>
    </tr>
    <tr>
        <th style="width:200px">Time</th>
        <td>{TIME}</td>
    </tr>
    <tr>
        <th style="width:200px">Pembicara</th>
        <td>{PEMBICARA}</td>
    </tr>
    <tr>
        <th style="width:200px">Agenda</th>
        <td>{AGENDA}</td>
    </tr>
    <tr>
        <th style="width:200px">Jum Peserta</th>
        <td>{JUM_PESERTA}</td>
    </tr>
    <tr>
        <th style="width:200px">Tanggal</th>
        <td>{TANGGAL}</td>
    </tr>
    <tr>
        <th style="width:200px">Status</th>
        <td>{STATUS}</td>
    </tr>
    <tr>
        <th style="width:200px">Jenis</th>
        <td>{JENIS}</td>
    </tr>
    <tr>
        <th style="width:200px">Lokasi</th>
        <td>{LOKASI}</td>
    </tr>
    <tr>
        <th style="width:200px">Topik</th>
        <td>{TOPIK}</td>
    </tr>
    <tr>
        <th style="width:200px">Nama Produk</th>
        <td>{NAMA_PRODUK}</td>
    </tr>
    <tr>
        <th style="width:200px">Jenis Produk</th>
        <td>{JENIS_PRODUK}</td>
    </tr>
    <tr>
        <th style="width:200px">Bidang Produk</th>
        <td>{BIDANG_PRODUK}</td>
    </tr>
    <tr>
        <th style="width:200px">Keterangan</th>
        <td>{KETERANGAN}</td>
    </tr>
</tbody>
</table>
<!-- /patTemplate:tmpl -->