
  <!-- patTemplate:tmpl name="content" -->

            <!-- Login Layout
            ================================================== -->
         
            <script type="text/javascript" src="assets/js/lala-alert.js"></script>
            <div class="five columns alpha">
                <div class="login">
                    <div class="login_wrapper">

                        <img src="assets/images/coporate.png" class="logo"/>
                        <form action="{URL_ACTION}" method="post" onsubmit="return dosubmit(this)" accept-charset="utf-8">	
                            <input type="hidden" id="salt" name="salt" value="{LOGIN_SALT}" />
                            <input type="hidden" id="back_to" name="back_to" value="" />
                            <input type="hidden" id="hashed" name="hashed" value="0" />
                            <input type="text" autocomplete="off" title="Username or email" name="username" required="required" class="text-input email-input" placeholder="username *"/>
                            <!-- Label and text input -->
                            
                            <input type="password" id="regularInput" title="Password" name="password" required="required" class="pass" placeholder="password"/>
                            <input type="hidden" name="password_hashed" required="required" />
                            <div class="log_btn"><button type="submit" role="alert" class="btn btn-primary" tabindex="3">Login</button></div>
              <!-- patTemplate:tmpl name="message" type="simplecondition" requiredvars="CONTENT" -->
<div class="{STYLE}">{CONTENT}</div>
<!-- /patTemplate:tmpl -->



                        </form>
                    </div>
                </div>
            </div><!-- end login -->

            
            <div class="two columns alpha">&nbsp;</div>
          
        <!-- End Document
        ================================================== -->
           <script type="text/javascript" src="assets/js/lala-alert.js"></script>
         
        <script type="text/javascript">
    $(function(){
        $('.gallery-image').on('click', 'a', function(){
            document.cookie = 'mmId='+$(this).data('id');
        })
    })
</script>

<!-- /patTemplate:tmpl -->
