<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:tmpl name="message" type="simplecondition" requiredvars="CONTENT" -->
<div class="{STYLE}"><a class="close" data-dismiss="alert" href="#">&times;</a>{CONTENT}</div>
<!-- /patTemplate:tmpl -->
<form class="xhr dest_popup-subcontent" name="form_change_pass" method="post" action="{URL}">
<table class="table-edit">
    <tr>
        <th style="width: 10em;"><!-- patTemplate:gtfwgetlang key="old_password" / --></th>
        <td><input type="password" name="old_password" required="" /></td>
    </tr>
    <tr>
        <th style="width: 10em;"><!-- patTemplate:gtfwgetlang key="new_password" / --></th>
        <td><input type="password" name="new_password" required="" /></td>
    </tr>
    <tr>
        <th style="width: 10em;"><!-- patTemplate:gtfwgetlang key="confirm_new_password" / --></th>
        <td><input type="password" name="conf_password" required="" /></td>
    </tr>
</table>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary"><!-- patTemplate:gtfwgetlang key="save" / --></button>
</div>
</form>
<!-- /patTemplate:tmpl -->