<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:gtfwrendermodule module="comp.breadcrump" submodule="breadcrump" action="view" name="breadcrump" / -->
<table class="table-details">
<tbody>
    
    <tr>
        <th style="width:200px">Title</th>
        <td>{TITLE}</td>
    </tr>
    <tr>
        <th style="width:200px">Photo</th>
        <td>{PHOTO}</td>
    </tr>
    <tr>
        <th style="width:200px">Photo Origin</th>
        <td>{PHOTO_ORIGIN}</td>
    </tr>
    <tr>
        <th style="width:200px">Photo Path</th>
        <td>{PHOTO_PATH}</td>
    </tr>
    <tr>
        <th style="width:200px">Photo Type</th>
        <td>{PHOTO_TYPE}</td>
    </tr>
    <tr>
        <th style="width:200px">Photo Size</th>
        <td>{PHOTO_SIZE}</td>
    </tr>
    <tr>
        <th style="width:200px">Status</th>
        <td>{STATUS}</td>
    </tr>
</tbody>
</table>
<!-- /patTemplate:tmpl -->