<!-- patTemplate:tmpl name="content" -->
<table class="table-details">
    <tbody>

        <tr>
            <th style="width:150px"><!-- patTemplate:gtfwgetlang key="name"/ --></th>
            <td>{NAME}</td>
        </tr>
        <tr>
            <th style="width:150px"><!-- patTemplate:gtfwgetlang key="parent"/ --></th>
            <td>{PARENT}</td>
        </tr>
        <tr>
            <th style="width:150px"><!-- patTemplate:gtfwgetlang key="desc"/ --></th>
            <td>{DESCRIPTION}</td>
        </tr>
        <tr>
            <th style="width:150px"><!-- patTemplate:gtfwgetlang key="submitted"/ --></th>
            <td>{LAST_INSERT}</td>
        </tr>
        <tr>
            <th style="width:150px"><!-- patTemplate:gtfwgetlang key="modified"/ --></th>
            <td>{LAST_UPDATE}</td>
        </tr>
    </tbody>
</table>
<!-- /patTemplate:tmpl -->