<!-- patTemplate:tmpl name="content" -->
<table class="table-details">
<tbody>
    
     <tr>
            <td>{GAMBAR}</td>
             <td>{GAMBAR}</td>
             <th style="width: 150px;" rowspan="6"><img width="150px" height="120px" src={FILEPATH}{FILE}></th>
       
        </tr>
       
    <tr>
        <th style="width:200px">Meeting</th>
        <td>{MEETING}</td>
    </tr>
    <tr>
            <th style="width:20%">Kmsmeeting Userid</th>
            <td>{KMSMEETING_USERID}</td>
        </tr>
    <tr>
        <th style="width:200px">Topik</th>
        <td>{TOPIK}</td>
    </tr>
    <tr>
        <th style="width:200px">Pembicara</th>
        <td>{PEMBICARA}</td>
    </tr>
    <tr>
        <th style="width:200px">Agenda</th>
        <td>{AGENDA}</td>
    </tr>
    <tr>
        <th style="width:200px">Jum Peserta</th>
        <td>{JUM_PESERTA}</td>
    </tr>
    <tr>
        <th style="width:200px">Waktu</th>
        <td>{WAKTU}</td>
    </tr>
    <tr>
        <th style="width:200px">Tanggal</th>
        <td>{TANGGAL}</td>
    </tr>
</tbody>
</table>
<!-- /patTemplate:tmpl -->