<!-- patTemplate:tmpl name="content" -->
<table class="table-details">
<tbody>
    
    <tr>
        <th style="width:200px">id Problem</th>
        <td>{ID_PROBLEM}</td>
    </tr>
    <tr>
        <th style="width:200px">Problem</th>
        <td>{PROBLEM}</td>
    </tr>
    <tr>
        <th style="width:200px">Person Request</th>
        <td>{PERSON_REQUEST}</td>
    </tr>
    <tr>
        <th style="width:200px">Person Solving</th>
        <td>{PERSON_SOLVING}</td>
    </tr>
    <tr>
        <th style="width:200px">PIC</th>
        <td>{PIC}</td>
    </tr>
    <tr>
        <th style="width:200px">Capture Problem</th>
        <td>{CAPTURE_PROBLEM}</td>
    </tr>
</tbody>
</table>
<!-- /patTemplate:tmpl -->