<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:gtfwrendermodule module="comp.breadcrump" submodule="breadcrump" action="view" name="breadcrump" / -->
<!-- patTemplate:tmpl name="search" -->

<!-- /patTemplate:tmpl -->
<!-- patTemplate:tmpl name="message" type="simplecondition" requiredvars="CONTENT" -->
<div class="{STYLE}">{CONTENT}</div>
<!-- /patTemplate:tmpl -->
<h2>sejarah perusahaan</h2>

<div class="content-box">
<div class="pageBar">
    <div class="pageNav">
        <!-- patTemplate:tmpl name="button_add" visibility="hidden" -->
            <a class="xhr dest_subcontent-element btn-add" href="{URL}" title="<!-- patTemplate:gtfwgetlang key="add" / --> <!-- patTemplate:gtfwgetlang key="modprofileperusahaan" / -->"></a>
        <!-- /patTemplate:tmpl -->
    </div>
    <div class="toolbar">
        <!-- patTemplate:gtfwrendermodule module="comp.paging" submodule="paging" action="view" name="paging_top"  / -->
    </div>
</div>
<section class="courses">
 <article>
   <hgroup>
   </hgroup>
   
   <p>Sebagai perusahaan yang bergerak di bidang penyedia solusi teknologi informasi, PT Gamatechno Indonesia (Gamatechno) resmi berdiri pada tanggal 4 Januari 2005 dan berkantor pusat di Yogyakarta. Guna meningkatkan layanan kepada lebih dari 240 klien di seluruh Indonesia yang tersebar dari Banda Aceh hingga Papua, pada tahun 2013 Gamatechno membuka kantor cabang di Jakarta.

Seiring dengan perkembangan perusahaan, saat ini Gamatechno memiliki fokus pada pengembangan produk dan solusi teknologi informasi untuk segmen perguruan tinggi, lembaga pemerintah, perusahaan penyedia jasa transportasi dan logistik, serta industri lifestyle. Layanan yang berfokus pada 4 segmen utama tersebut selanjutnya didefinisikan sebagai gtSmartCity Solution, yaitu solusi berbasis sistem dan teknologi informasi guna mewujudkan sebuah kota cerdas dengan ciri less paper, less time, less cash dan less complexity untuk meningkatkan tatanan hidup masyarakat.
<br><br>
Untuk segmen perguruan tinggi, produk unggulan Gamatechno adalah gtCampus Suite yaitu sistem informasi terintegrasi untuk perguruan tinggi yang terdiri atas berbagai software modular yang dirancang sesuai dengan proses bisnis perguruan tinggi mulai dari pengelolaan penerimaan calon mahasiswa, pengelolaan perkuliahan mahasiswa hingga lulus, pengelolaan aset kampus yang meliputi aset sumber daya manusia, keuangan dan aset barang, perpustakaan, penelitian dan beasiswa hingga dashboard system untuk pimpinan kampus.
Untuk segmen lembaga pemerintah, Gamatechno memiliki beberapa produk unggulan, diantaranya adalah gtPerizinan (sistem pengelolaan pelayanan perizinan terpadu), gtAspirasi (sistem pengelolaan aspirasi masyarakat), serta aplikasi gtGroupware (sistem kolaborasi dan arsip perkantoran). Selain produk-produk tersebut, Gamatechno juga melayani pengembangan portal website lembaga dengan konsep citizen centric, serta pengembangan berbagai aplikasi berbasis web lainnya sesuai dengan kebutuhan lembaga.<br><br>

Untuk segmen transportasi dan logistik, Gamatechno mengembangkan beberapa produk unggulan bagi perusahaan atau organisasi yang bergerak dibidang layanan transportasi dan logistik, yaitu gtFleets (sistem informasi pengelolaan armada), gtSmartTicket System (sistem tiket elektronik berbasis smartcard), serta aplikasi mTransport (aplikasi mobile untuk informasi dan layanan transportasi publik).
Pada segmen lifestyle, Gamatechno mengembangkan produk-produk aplikasi back-end dan front-end untuk beberapa sub industri diantaranya taman hiburan dan wisata, pusat belanja dan entertainment, microfinance, dan industri kesehatan. Beberapa portofolio produk untuk segmen lifestyle ini antara lain eoviz.com (small & medium enterprises resource planning system on cloud), mEvent (aplikasi mobile informasi event), serta mCatalog (aplikasi mobile informasi katalog produk).<br><br>

Selain pengembangan produk aplikasi berbasis web, mobile, smartcard dan beberapa teknologi terkini lainnya yang dikemas dalam gtSmartCity Solution, Gamatechno juga menyediakan jasa konsultasi IT, audit IT, training IT, serta layanan maintenance sistem dan agregasi konten digital.

Sebagai perusahaan yang berbasis perguruan tinggi, Gamatechno memiliki keunggulan kompetitif yang tidak dimiliki perusahaan lain, yaitu sumber daya dan aset riset yang dimiliki Universitas Gadjah Mada sebagai dasar pengembangan dan inovasi produk serta layanan Gamatechno agar tercipta solusi yang tepat guna bagi masyarakat. Dan untuk melengkapi layanan total kepada pelanggan dan mitra, saat ini Gamatechno telah memiliki anak perusahaan yaitu PT Aino Indonesia yang bergerak dibidang teknologi smartcard, RFId, dan Mobile NFC.</p>
 </article>    
 <article>
   <hgroup>
   </hgroup>
 </article>    
</section>

<div class="pageBar">
    <div class="toolbar">
        <!-- patTemplate:gtfwrendermodule module="comp.paging" submodule="paging" action="view" name="paging_bottom"  / -->
    </div>
</div>
</div>
<h2>Visi dan Misi</h2>

<div class="content-box">
Visi <br>

-Menjadi perusahaan penyedia TI terbaik di Indonesia<br><br>

Misi<br>

Dalam rangka pencapaian visi dan tujuan perusahaan, maka Gamatechno menjabarkan misi-misi perusahaan sebagai berikut :<br>
-Mengakomodasi sumber daya, potensi, dan kebutuhan UGM<br>
-Mengembangkan solusi TIK yang berkesinambungan<br>
-Membangun jejaring kerjasama untuk menumbuhkan industri digital di Indonesia<br>
-Memberikan benefit dan value bagi mitra, pelanggan, dan seluruh stakeholder

</div>
<h2>Legalitas</h2>
<div class="content-box">

<table border="0"> 
    <tr> 
        <th style="text-align: left">Nama </th>
        <td>PT Gamatechno Indonesia </td><br>
    </tr> 
    <tr> 
        <th style="text-align: left">Alamat </th>
          <td>Jalan Cik Di Tiro no. 34, Yogyakarta 55223, Indonesia</td><br>
    </tr>
    <tr>
    <th style="text-align: left">Bidang Usaha </th>     
     <td>Teknologi Informasi dan Komunikasi termasuk pengembangan perangkat lunak, perangkat keras, konsultasi, dan pelatihan di bidang TI</td>
    </tr> 
<tr>
    <th style="text-align: left">No.Telepon </th>     
     <td>+62-274-566161</td>
    </tr> 

    <tr>
    <th style="text-align: left">No.Faximile </th>     
     <td>+62-274-566160</td>
    </tr> 
    <tr>
    <th style="text-align: left">No.NPWP </th>     
     <td>02.369.197.5-541.000</td>
    </tr> 
    <tr>
    <th style="text-align: left">Akta Pendirian </th>     
     <td>No. 1/Tgl 04-01-2005, Notaris Sumendro SH</td>
    </tr> 
    <tr>
    <th style="text-align: left">Pengesahan </th>     
     <td>No. C-08796 HT.01.01.TH.2005</td>
    </tr> 
    <tr>
    <th style="text-align: left">INKINDO </th>     
     <td>A001 3471-1-120599, Bidang Telematika</td>
    </tr> 
    <tr>
    <th style="text-align: left">Email  </th>     
     <td>info @ gamatechno.com</td>
    </tr> 
   
    </table>
    </div> 
<h2>Corporate Values</h2>

<div class="content-box">
<font color="blue">always be TRUSTED</font>
<br>
<b class="strong">T</b>eamwork<br>
<b class="strong">R</b>esourcefullness<br>
<b class="strong">U</b>ltimate Process for Ultimate Product Quality<br>
<b class="strong">S</b>atisfy our customer<br>
<b class="strong">T</b>ruthfullness<br>
<b class="strong">E</b>xcitement<br>
<b class="strong">D</b>edication<br>

</div>
<script type="text/javascript">
$(function(){
    $('.confirm_delete').on('click', function(event){
        var elm = $(this);
        var href = elm.attr('href')+'&ascomponent=1';
        var name = elm.data('name');
        gtConfirm("<!-- patTemplate:gtfwgetlang key="msg_confirm_delete" / -->" + ' <!-- patTemplate:gtfwgetlang key="modprofileperusahaan" / -->?<br/><strong>'+name+'</strong>',"<!-- patTemplate:gtfwgetlang key="title_confirm_delete" / -->" + ' <!-- patTemplate:gtfwgetlang key="modprofileperusahaan" / -->',function(status){
            if (status) {
                $.post(href, function(data){
                    $.globalEval("result = " + data + ";");
                    if (result['exec']) {
                        $.globalEval(result['exec'] + ";");
                    }
                  }
                );
            } else {
                return false;
            }
        });
        return false;
    })
});

{SCRIPT}
</script>
<!-- /patTemplate:tmpl -->