<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:tmpl name="message" type="simplecondition" requiredvars="CONTENT" -->
<div class="{STYLE}">{CONTENT}</div>
<!-- /patTemplate:tmpl -->
<form id="form_input" class="xhr dest_subcontent-element" method="post" action="{URL}">
<input type="hidden" name="id" value="{ID}" />
<table class="table-edit">
    
    <tr>
        <th style="width: 200px;"><!-- patTemplate:gtfwgetlang key="kat" / --></th>
        <td>
            <input type="text" name="kat" value="{KAT}" required="required" />*            
        </td>
    </tr>
    <tr>
        <th style="width: 200px;"><!-- patTemplate:gtfwgetlang key="kat_user" / --></th>
        <td>
            <input type="text" name="kat_user" value="{KAT_USER}" required="required" />*            
        </td>
    </tr>
    <tr>
        <th style="width: 200px;"><!-- patTemplate:gtfwgetlang key="kategori" / --></th>
        <td>
            <input type="text" name="kategori" value="{KATEGORI}" required="required" />*            
        </td>
    </tr>
    <tr>
        <th style="width: 200px;"><!-- patTemplate:gtfwgetlang key="desc" / --></th>
        <td>
            <input type="text" name="desc" value="{DESC}" required="required" />*            
        </td>
    </tr>
    <tr>
        <th></th>
        <td>   
            <button type="submit" class="btn btn-primary"><!-- patTemplate:gtfwgetlang key="save" / --></button>
            <button type="reset" class="btn"><!-- patTemplate:gtfwgetlang key="reset" / --></button>       
        </td>            
    </tr>    
</table>
</form>
<!-- /patTemplate:tmpl -->